*{
   padding: 0;
   margin: 0;
}
body{
   background-color: #f0f0f0;
   font-family: sans-serif;
   line-height: 1.6;
}
main{
   max-width: 1080px;
   padding: 20px;
   margin: auto;
}

h2,
h1{
   color: #0c94d3;
   margin-bottom: 12px;
}
.presentacion-comida{
   padding: 12px;
   margin-bottom: 25px;
   padding-bottom: 25px;
   background-color: white;
   border-radius: 8px;
}
.pagina-comida{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 12px;
}
.ingredientes{
   margin-left: 22px;
}
img{
   border-radius: 8px;
   max-width: 100%;
}
.galeria{
   margin-top: 20px;
}
.galeria-imagenes{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 20px;
}
.galeria-imagenes img{
   width: 100%;
   height: 280px;
   object-fit: cover; 
}