body {
    font-family: 'Raleway', sans-serif;
}


/* header */

header {
    background: #92E0E5;
    color: white;
    height: 50px;
    padding: 0 25px;
}

header nav {
    float: right;
}

header h1 {
    float: left;
    text-indent: -9999px;
    background: url('../images/dog-icon.svg') no-repeat;
    float: left;
    height: 35px;
    width: 35px;
    margin-top: 8px;
}


/* primary navigation */

nav li {
    display: inline-block;
    padding: 17px 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav li:hover {
    background: #3F8DA7;
}


/* hero unit */

#hero img {
    border: 5px solid #3F8DA7;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

#hero h2 {
    font-size: 30px;
    margin-bottom: 25px;
}


/* links */

.btn {
    background: white;
    border: 5px solid #3F8DA7;
    color: #3F8DA7;
    padding: 5px 10px;
    text-decoration: none;
}

.btn:hover {
    padding: 5px 10px;
    background: #3F8DA7;
    color: white;
}

.link {
    color: white
}

.link:hover {
    color: #92E0E5;
}


/* columns */

.three-col {
    width: 30%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0 10px;
}

.three-col img {
    border-radius: 50%;
    border: 3px solid #3F8DA7;
    height: 200px;
    width: 200px;
    margin: 25px 0;
}

.three-col p {
    margin-bottom: 40px;
}